* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
img {
    max-width: 100%;
}

.myrow {
    flex-direction: column;

    @media (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media (min-width: 1400px) {
        padding: 50px;
    }
}


/* header */
header {
    background-image: url(../img/wall.png);
}

.title {
    text-align: center;
    padding: 10px;
    font-size: 100px;
    font-weight: 700;
    font-family: "Edu TAS Beginner";
}

/* main */
body {
    background-image: url(../img/cork.png);
}


.postit {
    max-width: 300px;
    max-height: 350px;
    background-color: rgb(255, 255, 255);
    padding: 14px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    position: relative;
    margin-bottom: 50px;
    margin-top: 70px;

}

.pin {
    position: absolute;
    left: 45%;
    top: -18px;
}

.postit img {
    width: 100%;
    height: 50%;
    object-fit: cover;

    @media (min-width: 992px) {
        height: 80%;
    }
}

.cardtext {
    margin-top: 10px;
}

.postit:hover {
    transform: rotate(10deg) scale(1.2);
}

/* #region modal */
.modal {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.myContainer {
    margin: auto;
    padding: 20px;
    width: 80%;
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.closeModal {
    font-size: 28px;
    position: absolute;
    bottom : 100%;
    left: 47%;
    color: black;
    padding: 5px;
    background-color: white;
    margin-bottom: 30px;
    font-size: 25px;
}
/* #endregion modal */